body,html{
    position: relative;
    background-repeat:no-repeat;
    background-size:100% 100vh;
}
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  body {
  /* background-image: url("C:/Projects/Hotel_booking/assets/edvin-johansson-rlwE8f8anOc-unsplash.jpg"); */
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
  }
  .spacing{
    height: 50px;
  }